body {
    margin: 0;
    font-family: Roboto;
}

.header, .block-one, .footer {
    background-color: #1F2937;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 16px 180px;
}

.logo {
    color: #f9faf8;
    font-size: 24px;;
}

ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 20px;
}

a, .text {
    text-decoration: none;
    color: #c9cbd0;
    font-size: 18px;
}

.block-one {
    display: flex;
    padding: 100px 180px;
    justify-content: center;
    align-items: center;
}

.left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 250px;
}

.awesome {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    padding-right: 180px;
}

.text {
    padding-right: 180px;
}

button {
    background-color: #3882f6;
    color: #f9faf8;
    border-radius: 6px;
    border-width: 0px;
    padding: 8px 30px;
    font-size: 16px;
    margin: 10px 0px;
}

.right{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 900px;
    height: 250px;
    background-color: rgb(134, 136, 145);
    color: #f9faf8;
}

.subheader {
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    padding: 50px;
}

.info {
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 50px;
    color: #6f7073;
    padding-bottom: 80px;
}

.fake-image {
    width: 150px;
    height: 150px;
    border-radius: 15px;
    border-color: #3882f6;
    border-width: 4px;
    border-style: solid;
}

.info-boxes {
    max-width: 158px;
}

.block-three {
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
}

.quote {
    max-width: 800px;
    padding: 100px;
}

.words {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    font-weight: 200;
    margin: 0;
}

.author {
    text-align: right;
    font-weight: 900;
    font-size: 24px;
}

.block-four {
    padding: 100px 180px;
}

.blue-box {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    background-color: #3882f6;
    border-radius: 10px;
    padding: 60px 100px;
  
}

.call {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 800;
}

.blue-box-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
}

.bottom-text {
    color: #f9faf8;
    font-weight: 200;
}

.second-button {
    border-color: #f9faf8;
    border-style: solid;
    border-width: 2px;
    margin: 0;
}

.footer {
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 40px;
    color: #e5e7eb;
}